
.container {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
body{
background-color: grey;
font-size: 50px;
} 


img{
	display:grid;
	margin:auto;
	padding: 90px;
}

.houses{
	text-align: center;
}
.regions{
	text-align: center;
}
.lords{
	text-align: center;
}
.allegiances{
	text-align: center;
}